/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.bobo-form-item .bobo-upload {
  background: transparent;
}
.bobo-form-item .bobo-upload.bobo-upload-drag {
  background: #fafafa;
}
.bobo-form-item input[type='radio'],
.bobo-form-item input[type='checkbox'] {
  width: 14px;
  height: 14px;
}
.bobo-form-item .bobo-radio-inline,
.bobo-form-item .bobo-checkbox-inline {
  display: inline-block;
  margin-left: 8px;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.bobo-form-item .bobo-radio-inline:first-child,
.bobo-form-item .bobo-checkbox-inline:first-child {
  margin-left: 0;
}
.bobo-form-item .bobo-checkbox-vertical,
.bobo-form-item .bobo-radio-vertical {
  display: block;
}
.bobo-form-item .bobo-checkbox-vertical + .bobo-checkbox-vertical,
.bobo-form-item .bobo-radio-vertical + .bobo-radio-vertical {
  margin-left: 0;
}
.bobo-form-item .bobo-input-number + .bobo-form-text {
  margin-left: 8px;
}
.bobo-form-item .bobo-input-number-handler-wrap {
  z-index: 2;
}
.bobo-form-item .bobo-select,
.bobo-form-item .bobo-cascader-picker {
  width: 100%;
}
.bobo-form-item .bobo-picker-calendar-year-select,
.bobo-form-item .bobo-picker-calendar-month-select,
.bobo-form-item .bobo-input-group .bobo-select,
.bobo-form-item .bobo-input-group .bobo-cascader-picker,
.bobo-form-item .bobo-input-number-group .bobo-select,
.bobo-form-item .bobo-input-number-group .bobo-cascader-picker {
  width: auto;
}
.bobo-form-inline {
  display: flex;
  flex-wrap: wrap;
}
.bobo-form-inline .bobo-form-item {
  flex: none;
  flex-wrap: nowrap;
  margin-right: 16px;
  margin-bottom: 0;
}
.bobo-form-inline .bobo-form-item-with-help {
  margin-bottom: 24px;
}
.bobo-form-inline .bobo-form-item > .bobo-form-item-label,
.bobo-form-inline .bobo-form-item > .bobo-form-item-control {
  display: inline-block;
  vertical-align: top;
}
.bobo-form-inline .bobo-form-item > .bobo-form-item-label {
  flex: none;
}
.bobo-form-inline .bobo-form-item .bobo-form-text {
  display: inline-block;
}
.bobo-form-inline .bobo-form-item .bobo-form-item-has-feedback {
  display: inline-block;
}
.bobo-form-horizontal .bobo-form-item-label {
  flex-grow: 0;
}
.bobo-form-horizontal .bobo-form-item-control {
  flex: 1 1 0;
  min-width: 0;
}
.bobo-form-horizontal .bobo-form-item-label.bobo-col-24 + .bobo-form-item-control {
  min-width: unset;
}
.bobo-form-vertical .bobo-form-item {
  flex-direction: column;
}
.bobo-form-vertical .bobo-form-item-label > label {
  height: auto;
}
.bobo-form-vertical .bobo-form-item-label,
.bobo-col-24.bobo-form-item-label,
.bobo-col-xl-24.bobo-form-item-label {
  padding: 0 0 8px;
  line-height: 1.5715;
  white-space: initial;
  text-align: left;
}
.bobo-form-vertical .bobo-form-item-label > label,
.bobo-col-24.bobo-form-item-label > label,
.bobo-col-xl-24.bobo-form-item-label > label {
  margin: 0;
}
.bobo-form-vertical .bobo-form-item-label > label::after,
.bobo-col-24.bobo-form-item-label > label::after,
.bobo-col-xl-24.bobo-form-item-label > label::after {
  display: none;
}
.bobo-form-rtl.bobo-form-vertical .bobo-form-item-label,
.bobo-form-rtl.bobo-col-24.bobo-form-item-label,
.bobo-form-rtl.bobo-col-xl-24.bobo-form-item-label {
  text-align: right;
}
@media (max-width: 575px) {
  .bobo-form-item .bobo-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .bobo-form-item .bobo-form-item-label > label {
    margin: 0;
  }
  .bobo-form-item .bobo-form-item-label > label::after {
    display: none;
  }
  .bobo-form-rtl.bobo-form-item .bobo-form-item-label {
    text-align: right;
  }
  .bobo-form .bobo-form-item {
    flex-wrap: wrap;
  }
  .bobo-form .bobo-form-item .bobo-form-item-label,
  .bobo-form .bobo-form-item .bobo-form-item-control {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .bobo-col-xs-24.bobo-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .bobo-col-xs-24.bobo-form-item-label > label {
    margin: 0;
  }
  .bobo-col-xs-24.bobo-form-item-label > label::after {
    display: none;
  }
  .bobo-form-rtl.bobo-col-xs-24.bobo-form-item-label {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .bobo-col-sm-24.bobo-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .bobo-col-sm-24.bobo-form-item-label > label {
    margin: 0;
  }
  .bobo-col-sm-24.bobo-form-item-label > label::after {
    display: none;
  }
  .bobo-form-rtl.bobo-col-sm-24.bobo-form-item-label {
    text-align: right;
  }
}
@media (max-width: 991px) {
  .bobo-col-md-24.bobo-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .bobo-col-md-24.bobo-form-item-label > label {
    margin: 0;
  }
  .bobo-col-md-24.bobo-form-item-label > label::after {
    display: none;
  }
  .bobo-form-rtl.bobo-col-md-24.bobo-form-item-label {
    text-align: right;
  }
}
@media (max-width: 1199px) {
  .bobo-col-lg-24.bobo-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .bobo-col-lg-24.bobo-form-item-label > label {
    margin: 0;
  }
  .bobo-col-lg-24.bobo-form-item-label > label::after {
    display: none;
  }
  .bobo-form-rtl.bobo-col-lg-24.bobo-form-item-label {
    text-align: right;
  }
}
@media (max-width: 1599px) {
  .bobo-col-xl-24.bobo-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .bobo-col-xl-24.bobo-form-item-label > label {
    margin: 0;
  }
  .bobo-col-xl-24.bobo-form-item-label > label::after {
    display: none;
  }
  .bobo-form-rtl.bobo-col-xl-24.bobo-form-item-label {
    text-align: right;
  }
}
.bobo-form-item {
  /* Some non-status related component style is in `components.less` */
  /* To support leave along ErrorList. We add additional className to handle explain style */
}
.bobo-form-item-explain-error {
  color: #ff4d4f;
}
.bobo-form-item-explain-warning {
  color: #faad14;
}
.bobo-form-item-has-feedback .bobo-switch {
  margin: 2px 0 4px;
}
.bobo-form-item-has-warning .bobo-form-item-split {
  color: #faad14;
}
.bobo-form-item-has-warning .bobo-calendar-picker-open .bobo-calendar-picker-input {
  border-color: #ffc53d;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
  border-right-width: 1px;
  outline: 0;
}
.bobo-form-item-has-error .bobo-form-item-split {
  color: #ff4d4f;
}
.bobo-form-item-has-error .bobo-calendar-picker-open .bobo-calendar-picker-input {
  border-color: #ff7875;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
  border-right-width: 1px;
  outline: 0;
}
.bobo-form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
}
.bobo-form legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  line-height: inherit;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
}
.bobo-form label {
  font-size: 14px;
}
.bobo-form input[type='search'] {
  box-sizing: border-box;
}
.bobo-form input[type='radio'],
.bobo-form input[type='checkbox'] {
  line-height: normal;
}
.bobo-form input[type='file'] {
  display: block;
}
.bobo-form input[type='range'] {
  display: block;
  width: 100%;
}
.bobo-form select[multiple],
.bobo-form select[size] {
  height: auto;
}
.bobo-form input[type='file']:focus,
.bobo-form input[type='radio']:focus,
.bobo-form input[type='checkbox']:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.bobo-form output {
  display: block;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
}
.bobo-form .bobo-form-text {
  display: inline-block;
  padding-right: 8px;
}
.bobo-form-small .bobo-form-item-label > label {
  height: 24px;
}
.bobo-form-small .bobo-form-item-control-input {
  min-height: 24px;
}
.bobo-form-large .bobo-form-item-label > label {
  height: 40px;
}
.bobo-form-large .bobo-form-item-control-input {
  min-height: 40px;
}
.bobo-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  margin-bottom: 24px;
  vertical-align: top;
  transition: margin-bottom 0.3s 0.017s linear;
}
.bobo-form-item-with-help {
  margin-bottom: 0;
  transition: none;
}
.bobo-form-item-hidden,
.bobo-form-item-hidden.bobo-row {
  display: none;
}
.bobo-form-item-label {
  display: inline-block;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  vertical-align: middle;
}
.bobo-form-item-label-left {
  text-align: left;
}
.bobo-form-item-label-wrap {
  overflow: unset;
  line-height: 1.3215em;
  white-space: unset;
}
.bobo-form-item-label > label {
  position: relative;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 32px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
.bobo-form-item-label > label > .anticon {
  font-size: 14px;
  vertical-align: top;
}
.bobo-form-item-label > label.bobo-form-item-required:not(.bobo-form-item-required-mark-optional)::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.bobo-form-hide-required-mark .bobo-form-item-label > label.bobo-form-item-required:not(.bobo-form-item-required-mark-optional)::before {
  display: none;
}
.bobo-form-item-label > label .bobo-form-item-optional {
  display: inline-block;
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.45);
}
.bobo-form-hide-required-mark .bobo-form-item-label > label .bobo-form-item-optional {
  display: none;
}
.bobo-form-item-label > label .bobo-form-item-tooltip {
  color: rgba(0, 0, 0, 0.45);
  cursor: help;
  -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb;
  -webkit-margin-start: 4px;
          margin-inline-start: 4px;
}
.bobo-form-item-label > label::after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}
.bobo-form-item-label > label.bobo-form-item-no-colon::after {
  content: ' ';
}
.bobo-form-item-control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.bobo-form-item-control:first-child:not([class^='bobo-col-']):not([class*=' bobo-col-']) {
  width: 100%;
}
.bobo-form-item-control-input {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 32px;
}
.bobo-form-item-control-input-content {
  flex: auto;
  max-width: 100%;
}
.bobo-form-item-explain,
.bobo-form-item-extra {
  clear: both;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 1.5715;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.bobo-form-item-explain-connected {
  height: 0;
  min-height: 0;
  opacity: 0;
}
.bobo-form-item-extra {
  min-height: 24px;
}
.bobo-form-item .bobo-input-textarea-show-count::after {
  margin-bottom: -22px;
}
.bobo-form-item-with-help .bobo-form-item-explain {
  height: auto;
  min-height: 24px;
  opacity: 1;
}
.bobo-show-help {
  transition: height 0.3s linear, min-height 0.3s linear, margin-bottom 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.bobo-show-help-leave {
  min-height: 24px;
}
.bobo-show-help-leave-active {
  min-height: 0;
}
.bobo-show-help-item {
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
.bobo-show-help-item-appear,
.bobo-show-help-item-enter {
  transform: translateY(-5px);
  opacity: 0;
}
.bobo-show-help-item-appear-active,
.bobo-show-help-item-enter-active {
  transform: translateY(0);
  opacity: 1;
}
.bobo-show-help-item-leave-active {
  transform: translateY(-5px);
}
@-webkit-keyframes diffZoomIn1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes diffZoomIn1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes diffZoomIn2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes diffZoomIn2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes diffZoomIn3 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes diffZoomIn3 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.bobo-form-rtl {
  direction: rtl;
}
.bobo-form-rtl .bobo-form-item-label {
  text-align: left;
}
.bobo-form-rtl .bobo-form-item-label > label.bobo-form-item-required::before {
  margin-right: 0;
  margin-left: 4px;
}
.bobo-form-rtl .bobo-form-item-label > label::after {
  margin: 0 2px 0 8px;
}
.bobo-form-rtl .bobo-form-item-label > label .bobo-form-item-optional {
  margin-right: 4px;
  margin-left: 0;
}
.bobo-col-rtl .bobo-form-item-control:first-child {
  width: 100%;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-input {
  padding-right: 11px;
  padding-left: 24px;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-input-affix-wrapper .bobo-input-suffix {
  padding-right: 11px;
  padding-left: 18px;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-input-affix-wrapper .bobo-input {
  padding: 0;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-input-number-affix-wrapper .bobo-input-number {
  padding: 0;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-input-search:not(.bobo-input-search-enter-button) .bobo-input-suffix {
  right: auto;
  left: 28px;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-input-number {
  padding-left: 18px;
}
.bobo-form-rtl .bobo-form-item-has-feedback > .bobo-select .bobo-select-arrow,
.bobo-form-rtl .bobo-form-item-has-feedback > .bobo-select .bobo-select-clear,
.bobo-form-rtl .bobo-form-item-has-feedback :not(.bobo-input-group-addon) > .bobo-select .bobo-select-arrow,
.bobo-form-rtl .bobo-form-item-has-feedback :not(.bobo-input-group-addon) > .bobo-select .bobo-select-clear,
.bobo-form-rtl .bobo-form-item-has-feedback :not(.bobo-input-number-group-addon) > .bobo-select .bobo-select-arrow,
.bobo-form-rtl .bobo-form-item-has-feedback :not(.bobo-input-number-group-addon) > .bobo-select .bobo-select-clear {
  right: auto;
  left: 32px;
}
.bobo-form-rtl .bobo-form-item-has-feedback > .bobo-select .bobo-select-selection-selected-value,
.bobo-form-rtl .bobo-form-item-has-feedback :not(.bobo-input-group-addon) > .bobo-select .bobo-select-selection-selected-value,
.bobo-form-rtl .bobo-form-item-has-feedback :not(.bobo-input-number-group-addon) > .bobo-select .bobo-select-selection-selected-value {
  padding-right: 0;
  padding-left: 42px;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-cascader-picker-arrow {
  margin-right: 0;
  margin-left: 19px;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-cascader-picker-clear {
  right: auto;
  left: 32px;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-picker {
  padding-right: 11px;
  padding-left: 29.2px;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-picker-large {
  padding-right: 11px;
  padding-left: 29.2px;
}
.bobo-form-rtl .bobo-form-item-has-feedback .bobo-picker-small {
  padding-right: 7px;
  padding-left: 25.2px;
}
.bobo-form-rtl .bobo-form-item-has-feedback.bobo-form-item-has-success .bobo-form-item-children-icon,
.bobo-form-rtl .bobo-form-item-has-feedback.bobo-form-item-has-warning .bobo-form-item-children-icon,
.bobo-form-rtl .bobo-form-item-has-feedback.bobo-form-item-has-error .bobo-form-item-children-icon,
.bobo-form-rtl .bobo-form-item-has-feedback.bobo-form-item-is-validating .bobo-form-item-children-icon {
  right: auto;
  left: 0;
}
.bobo-form-rtl.bobo-form-inline .bobo-form-item {
  margin-right: 0;
  margin-left: 16px;
}