.liang-radio-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variliang: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  display: inline-block;
  font-size: 0;
}
.liang-radio-group .liang-badge-count {
  z-index: 1;
}
.liang-radio-group.liang-radio-group-rtl {
  direction: rtl;
}
.liang-radio-group > .liang-badge:not(:first-child) > .liang-radio-button-wrapper {
  border-left: none;
}

.liang-radio-group-large .liang-radio-button-wrapper {
  height: 40px;
  font-size: 16px;
  line-height: 38px;
}
.liang-radio-group-small .liang-radio-button-wrapper {
  height: 24px;
  padding: 0 7px;
  line-height: 22px;
}
.liang-radio-group-solid .liang-radio-button-wrapper-checked:not(.liang-radio-button-wrapper-disabled) {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
}

.liang-radio-group-solid .liang-radio-button-wrapper-checked:not(.liang-radio-button-wrapper-disabled):hover {
  color: #fff;
  background: #40a9ff;
  border-color: #40a9ff;
}
.liang-radio-group-solid .liang-radio-button-wrapper-checked:not(.liang-radio-button-wrapper-disabled):active {
  color: #fff;
  background: #096dd9;
  border-color: #096dd9;
}
.liang-radio-group-solid .liang-radio-button-wrapper-checked:not(.liang-radio-button-wrapper-disabled):focus-within {
  box-shadow: 0 0 0 3px #e6f7ff;
}
