// sass的import不需要额外的请求
@import './variables';// 变量
@import './reboot';// normalize.css
@import './mixin';
// animation
@import "animation";
// button
@import '../components/Button/style';
// menu
@import '../components/Menu/style';
// icon
@import "../components/Icon/style";