/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.bobo-tooltip {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  z-index: 1070;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: intrinsic;
  max-width: 250px;
  visibility: visible;
}
.bobo-tooltip-hidden {
  display: none;
}
.bobo-tooltip-placement-top,
.bobo-tooltip-placement-topLeft,
.bobo-tooltip-placement-topRight {
  padding-bottom: 14.3137085px;
}
.bobo-tooltip-placement-right,
.bobo-tooltip-placement-rightTop,
.bobo-tooltip-placement-rightBottom {
  padding-left: 14.3137085px;
}
.bobo-tooltip-placement-bottom,
.bobo-tooltip-placement-bottomLeft,
.bobo-tooltip-placement-bottomRight {
  padding-top: 14.3137085px;
}
.bobo-tooltip-placement-left,
.bobo-tooltip-placement-leftTop,
.bobo-tooltip-placement-leftBottom {
  padding-right: 14.3137085px;
}
.bobo-tooltip-inner {
  min-width: 30px;
  min-height: 32px;
  padding: 6px 8px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.bobo-tooltip-arrow {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  overflow: hidden;
  background: transparent;
  pointer-events: none;
}
.bobo-tooltip-arrow-content {
  --antd-arrow-background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 11.3137085px;
  height: 11.3137085px;
  margin: auto;
  background-color: transparent;
  content: '';
  pointer-events: auto;
  border-radius: 0 0 2px 0;
  pointer-events: none;
}
.bobo-tooltip-arrow-content::before {
  position: absolute;
  top: -11.3137085px;
  left: -11.3137085px;
  width: 33.9411255px;
  height: 33.9411255px;
  background: linear-gradient(to left, var(--antd-arrow-background-color) 50%, var(--antd-arrow-background-color) 50%) no-repeat -10px -10px;
  content: '';
  -webkit-clip-path: path('M 9.849242404917499 24.091883092036785 A 5 5 0 0 1 13.384776310850237 22.627416997969522 L 20.627416997969522 22.627416997969522 A 2 2 0 0 0 22.627416997969522 20.627416997969522 L 22.627416997969522 13.384776310850237 A 5 5 0 0 1 24.091883092036785 9.849242404917499 Z');
          clip-path: path('M 9.849242404917499 24.091883092036785 A 5 5 0 0 1 13.384776310850237 22.627416997969522 L 20.627416997969522 22.627416997969522 A 2 2 0 0 0 22.627416997969522 20.627416997969522 L 22.627416997969522 13.384776310850237 A 5 5 0 0 1 24.091883092036785 9.849242404917499 Z');
}
.bobo-tooltip-placement-top .bobo-tooltip-arrow,
.bobo-tooltip-placement-topLeft .bobo-tooltip-arrow,
.bobo-tooltip-placement-topRight .bobo-tooltip-arrow {
  bottom: -7.4462915px;
}
.bobo-tooltip-placement-top .bobo-tooltip-arrow-content,
.bobo-tooltip-placement-topLeft .bobo-tooltip-arrow-content,
.bobo-tooltip-placement-topRight .bobo-tooltip-arrow-content {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
  transform: translateY(-11px) rotate(45deg);
}
.bobo-tooltip-placement-top .bobo-tooltip-arrow {
  left: 50%;
  transform: translateX(-50%);
}
.bobo-tooltip-placement-topLeft .bobo-tooltip-arrow {
  left: 13px;
}
.bobo-tooltip-placement-topRight .bobo-tooltip-arrow {
  right: 13px;
}
.bobo-tooltip-placement-right .bobo-tooltip-arrow,
.bobo-tooltip-placement-rightTop .bobo-tooltip-arrow,
.bobo-tooltip-placement-rightBottom .bobo-tooltip-arrow {
  left: -7.5862915px;
}
.bobo-tooltip-placement-right .bobo-tooltip-arrow-content,
.bobo-tooltip-placement-rightTop .bobo-tooltip-arrow-content,
.bobo-tooltip-placement-rightBottom .bobo-tooltip-arrow-content {
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
  transform: translateX(11px) rotate(135deg);
}
.bobo-tooltip-placement-right .bobo-tooltip-arrow {
  top: 50%;
  transform: translateY(-50%);
}
.bobo-tooltip-placement-rightTop .bobo-tooltip-arrow {
  top: 5px;
}
.bobo-tooltip-placement-rightBottom .bobo-tooltip-arrow {
  bottom: 5px;
}
.bobo-tooltip-placement-left .bobo-tooltip-arrow,
.bobo-tooltip-placement-leftTop .bobo-tooltip-arrow,
.bobo-tooltip-placement-leftBottom .bobo-tooltip-arrow {
  right: -7.6062915px;
}
.bobo-tooltip-placement-left .bobo-tooltip-arrow-content,
.bobo-tooltip-placement-leftTop .bobo-tooltip-arrow-content,
.bobo-tooltip-placement-leftBottom .bobo-tooltip-arrow-content {
  box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
  transform: translateX(-11px) rotate(315deg);
}
.bobo-tooltip-placement-left .bobo-tooltip-arrow {
  top: 50%;
  transform: translateY(-50%);
}
.bobo-tooltip-placement-leftTop .bobo-tooltip-arrow {
  top: 5px;
}
.bobo-tooltip-placement-leftBottom .bobo-tooltip-arrow {
  bottom: 5px;
}
.bobo-tooltip-placement-bottom .bobo-tooltip-arrow,
.bobo-tooltip-placement-bottomLeft .bobo-tooltip-arrow,
.bobo-tooltip-placement-bottomRight .bobo-tooltip-arrow {
  top: -7.5862915px;
}
.bobo-tooltip-placement-bottom .bobo-tooltip-arrow-content,
.bobo-tooltip-placement-bottomLeft .bobo-tooltip-arrow-content,
.bobo-tooltip-placement-bottomRight .bobo-tooltip-arrow-content {
  box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.07);
  transform: translateY(11px) rotate(225deg);
}
.bobo-tooltip-placement-bottom .bobo-tooltip-arrow {
  left: 50%;
  transform: translateX(-50%);
}
.bobo-tooltip-placement-bottomLeft .bobo-tooltip-arrow {
  left: 13px;
}
.bobo-tooltip-placement-bottomRight .bobo-tooltip-arrow {
  right: 13px;
}
.bobo-tooltip-pink .bobo-tooltip-inner {
  background-color: #eb2f96;
}
.bobo-tooltip-pink .bobo-tooltip-arrow-content::before {
  background: #eb2f96;
}
.bobo-tooltip-magenta .bobo-tooltip-inner {
  background-color: #eb2f96;
}
.bobo-tooltip-magenta .bobo-tooltip-arrow-content::before {
  background: #eb2f96;
}
.bobo-tooltip-red .bobo-tooltip-inner {
  background-color: #f5222d;
}
.bobo-tooltip-red .bobo-tooltip-arrow-content::before {
  background: #f5222d;
}
.bobo-tooltip-volcano .bobo-tooltip-inner {
  background-color: #fa541c;
}
.bobo-tooltip-volcano .bobo-tooltip-arrow-content::before {
  background: #fa541c;
}
.bobo-tooltip-orange .bobo-tooltip-inner {
  background-color: #fa8c16;
}
.bobo-tooltip-orange .bobo-tooltip-arrow-content::before {
  background: #fa8c16;
}
.bobo-tooltip-yellow .bobo-tooltip-inner {
  background-color: #fadb14;
}
.bobo-tooltip-yellow .bobo-tooltip-arrow-content::before {
  background: #fadb14;
}
.bobo-tooltip-gold .bobo-tooltip-inner {
  background-color: #faad14;
}
.bobo-tooltip-gold .bobo-tooltip-arrow-content::before {
  background: #faad14;
}
.bobo-tooltip-cyan .bobo-tooltip-inner {
  background-color: #13c2c2;
}
.bobo-tooltip-cyan .bobo-tooltip-arrow-content::before {
  background: #13c2c2;
}
.bobo-tooltip-lime .bobo-tooltip-inner {
  background-color: #a0d911;
}
.bobo-tooltip-lime .bobo-tooltip-arrow-content::before {
  background: #a0d911;
}
.bobo-tooltip-green .bobo-tooltip-inner {
  background-color: #52c41a;
}
.bobo-tooltip-green .bobo-tooltip-arrow-content::before {
  background: #52c41a;
}
.bobo-tooltip-blue .bobo-tooltip-inner {
  background-color: #1890ff;
}
.bobo-tooltip-blue .bobo-tooltip-arrow-content::before {
  background: #1890ff;
}
.bobo-tooltip-geekblue .bobo-tooltip-inner {
  background-color: #2f54eb;
}
.bobo-tooltip-geekblue .bobo-tooltip-arrow-content::before {
  background: #2f54eb;
}
.bobo-tooltip-purple .bobo-tooltip-inner {
  background-color: #722ed1;
}
.bobo-tooltip-purple .bobo-tooltip-arrow-content::before {
  background: #722ed1;
}
.bobo-tooltip-rtl {
  direction: rtl;
}
.bobo-tooltip-rtl .bobo-tooltip-inner {
  text-align: right;
}
